:root {
  --blurple: #5865f2;
  --green: #57f287;
  --yellow: #fee75c;
  --fuchsia: #eb459e;
  --red: #ed4245;
  --white: #ffffff;
  --off-white: #f6f6f6;
  --text-link: #00b0f4;
  --black: #000000;
}
